// colors

$color-primary: #3b89ac;
$color-primary-light: #bfd2d9;
$color-primary-dark: #003851;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$main-heading-font: "Libre Caslon Text",
serif;
$other-heading-font: "lato",
sans-serif;

$paragraph-font: "poppins",
sans-serif;