.featured-apt {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    column-gap: 6rem;

    @include respond(width600) {


        grid-auto-rows: 1fr;
        grid-template-rows: 100%;
        grid-template-columns: 1fr;



    }

    &__gallery {
        grid-column: 1 / 2;

        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(10, 1fr);

        @include respond(width600) {


            grid-column: auto;



        }

        &--img-1 {
            grid-row: 2 / 11;
            grid-column: 1 / 16;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--img-2 {
            grid-row: 1 / 10;
            grid-column: 10 / 17;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details {
        grid-column: 2 / 3;
        display: block;
        padding-top: 5rem;

        @include respond(width600) {


            grid-row: 2 / 3;
            grid-column: 1 / 2;



        }



        .heading-3 {
            font-size: 2rem;
            font-weight: 700;
            text-transform: none;
            margin-bottom: 4rem;
        }

        .heading-4 {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: none;
            margin-bottom: .5rem;
        }

        .paragraph {
            font-size: 1.3;
            //font-weight: 700;
            text-transform: none;
            margin-bottom: 3rem;
        }
    }

    &__price {
        font-size: 4rem;
        color: $color-grey-dark;
        margin-bottom: .5rem;
    }
}